<div ng-controller="Ctrl" style="max-height:100vh; overflow-y:scroll; overflow-x:hidden;">
    <div ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="x in messages">
        <img src='{{x.profpic}}' style="height:32px; width:32px; border-radius:50%;" />
        <strong>{{x.name}}:</strong> <p style="margin-bottom:0;">{{x.message}}</p>
        <small class="text-muted">{{x.time}}</small>
    </div>
    <input ng-model="dataToSend">
    <button ng-click="sendMessage()">Send</button>
    <br>
</div>