<div  ng-controller="Ctrl" style="background-color:#6eb7ff">

    <div ng-class-odd="'odd'" ng-class-even="'even'" style="word-break: break-all; word-wrap: break-word;" ng-repeat="x in messages">
        <img src='{{x.profpic}}' style="height:32px;width:32px; border-radius: 50%;" /><strong>{{x.name}}:</strong> {{x.message}}
        <br />
        <small class="text-muted">{{x.time}}</small>
    </div>
    <input ng-model="dataToSend">
    <button ng-click="emitBasic2()">Send</button>
    <br>
</div>
