<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://www.moosen.im/favicon.ico">
    <meta charset="utf-8">
    <title>Periodic Table of Business</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
    <div ng-app="app" ng-controller="ctrl">

        <div ng-repeat="x in elements">
            <button type="button" class="btn btn-default" ng-click="openModal(x)">{{x.name}}</button>
        </div>
        <!-- Button trigger modal -->

    </div>
    <script>
        var app = angular.module('app', ['ui.bootstrap'])



        app.controller('ctrl', function($scope, $timeout, $dialog) {
            $scope.elements = [{
                    name: 'Be',
                    content: 'test content'
                },
                {
                    name: '2',
                    content: 'test content'
                },
                {
                    name: '3',
                    content: 'test content'
                }
            ]
            var dialogOptions = {
                controller: 'modalCtrl',
                templateUrl: './html/elementmodal.html'
            };

            $scope.openModal = function openModal(x) {
                var modalInfo = x
                console.log(modalInfo)
                $dialog.dialog({})
                    .open('./html/elementmodal.html', function() {
                        console.log('hello open')
                        $scope.modalInfo = x
                        $scope.modalContent = x

                    })
                    .then(function(res) {
                        if (res) {
                            angular.copy(modalInfo, res)
                            console.log('res called')
                        } else {
                            console.log('res no worky')
                            angular.copy(modalInfo, res)
                        }
                        console.log('set to null')
                        modalInfo = null
                    })

                //    $dialog.dialog({}).open('./html/elementmodal.html')
                //    console.log($scope.modalinfo)
                //    }
            }
        })
    </script>

</body>


</html>
