<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://www.moosen.im/favicon.ico">
    <meta charset="utf-8">
    <title>Periodic Table of Business</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="./html/todomodal.html" rel="import" />
</head>

<body>

</body>
<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
            Having multiple modals open at once is probably bad UX but it's technically possible.
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
    <button type="button"
        class="btn btn-default"
        ng-click="$ctrl.open('sm', '.modal-parent')">
            Modal appended to a custom parent
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">Toggle Animation ({{ $ctrl.animationsEnabled }})</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">Open a component modal!</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.openMultipleModals()">
        Open multiple modals at once
    </button>
    <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
    <div class="modal-parent">
    </div>
</div>
<script>
    var app = angular.module('app', ['ui.bootstrap.modal'])



    app.controller('ctrl', function($scope, $timeout, $dialog) {
        $scope.elements = [{
                name: '1',
                content: 'test content'
            },
            {
                name: '2',
                content: 'test content'
            },
            {
                name: '3',
                content: 'test content'
            }
        ]
        var dialogOptions = {
            controller: 'modalCtrl',
            templateUrl: './html/elementmodal.html'
        };

        $scope.openModal = function openModal(x) {
            var modalInfo = x
            console.log(modalInfo)
            $dialog.dialog({})
                .open('./html/elementmodal.html',function (){
                    console.log('hello open')
                    $scope.modalInfo = x
                    $scope.modalContent = x

                })
                .then(function(res) {
                    if (res) {
                        angular.copy(modalInfo,res)
                        console.log('res called')
                    }
                    else{
                        console.log('res no worky')
                        angular.copy(modalInfo,res)
                    }
                    console.log('set to null')
                    modalInfo = null
                })

            //    $dialog.dialog({}).open('./html/elementmodal.html')
            //    console.log($scope.modalinfo)
            //    }
        }
    })

    function modalCtrl($scope, item, dialog) {

        $scope.item = item

        $scope.save = function() {
            dialog.close($scope.item)
        }

        $scope.close = function() {
            dialog.close(undefined)
        }
    }
  }
});

modalInstance.result.then(function (selectedItem) {
  $ctrl.selected = selectedItem;
}, function () {
  $log.info('modal-component dismissed at: ' + new Date());
});
};

$ctrl.openMultipleModals = function () {
$uibModal.open({
  animation: $ctrl.animationsEnabled,
  ariaLabelledBy: 'modal-title-bottom',
  ariaDescribedBy: 'modal-body-bottom',
  templateUrl: 'stackedModal.html',
  size: 'sm',
  controller: function($scope) {
    $scope.name = 'bottom';
  }
});

$uibModal.open({
  animation: $ctrl.animationsEnabled,
  ariaLabelledBy: 'modal-title-top',
  ariaDescribedBy: 'modal-body-top',
  templateUrl: 'stackedModal.html',
  size: 'sm',
  controller: function($scope) {
    $scope.name = 'top';
  }
});
};

$ctrl.toggleAnimation = function () {
$ctrl.animationsEnabled = !$ctrl.animationsEnabled;
};
});

// Please note that $uibModalInstance represents a modal window (instance) dependency.
// It is not the same as the $uibModal service used above.

angular.module('ui.bootstrap.demo').controller('ModalInstanceCtrl', function ($uibModalInstance, items) {
var $ctrl = this;
$ctrl.items = items;
$ctrl.selected = {
item: $ctrl.items[0]
};

$ctrl.ok = function () {
$uibModalInstance.close($ctrl.selected.item);
};

$ctrl.cancel = function () {
$uibModalInstance.dismiss('cancel');
};
});

// Please note that the close and dismiss bindings are from $uibModalInstance.

angular.module('ui.bootstrap.demo').component('modalComponent', {
templateUrl: 'myModalContent.html',
bindings: {
resolve: '<',
close: '&',
dismiss: '&'
},
controller: function () {
var $ctrl = this;

$ctrl.$onInit = function () {
  $ctrl.items = $ctrl.resolve.items;
  $ctrl.selected = {
    item: $ctrl.items[0]
  };
};

$ctrl.ok = function () {
  $ctrl.close({$value: $ctrl.selected.item});
};

$ctrl.cancel = function () {
  $ctrl.dismiss({$value: 'cancel'});
};
}
});
</script>

</body>


</html>
