<div ng-controller="Ctrl" class="modal" id="todo-modal"role="dialog" aria-labelledby="todo-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document"style="z-index:100">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-modal-label">Add an item to the To Do list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>What needs to get done?</p>
                    <input ng-model="todomsg">
                    <br />
                    <p>
                        Tags (seperate with commas)
                    </p>
                    <input ng-model="todotags">
                    <button ng-controller="Ctrl" ng-click="submitTodo()">Send</button>
            </div>
        </div>
    </div>
</div>
