<!DOCTYPE html>


<html>

<head>
    <link rel="icon" href="https://www.moosen.im/favicon.ico">
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moosen business</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css">
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body ng-app="example">

    <div class="container-fluid" ng-controller="Ctrl">
        <div class="col-lg-12" style="background-color:#6eb7ff">
        </div>
        <div class="row">
            <div class="col-lg-2" style="background-color:#6eb7ff">
                <img style="height: 140px; width: 140px;" src="https://moosen.im/uploads/moosenim4ColoredSmall.png">
                <br>
                <ul class="nav flex-column">
                    <li class="nav-item" ng-repeat="x in roomlist">
                        <button class="nav-link active" ng-click="changeRooms(x.serialid)">{{x.name}}</button>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8" style="text-align:center;    background-clip: content-box, padding-box;">
                <h5>
                    <strong>{{motd}}</strong>
                </h5>
                <br>
                <div class="row" ng-controller="Ctrl">
                    <div class="card-columns">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">{{motd}}</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Server Response: N/A</h5>
                                <input ng-model="dataToSend">
                                <button ng-click="emitBasic()">Send</button>
                                <!-- <p class="card-text"> input<input ng-model="FilterController.input" /></p> -->
                            </div>
                        </div>
                        <div class="card p-3">
                            <blockquote class="blockquote mb-0 card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        <cite title="Source Title"> Moosen Team</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p>Welcome back {{ serverResponse }}!</p>
                                <footer class="blockquote-footer">
                                    <small>
                                        <cite title="Source Title"> Moosen Team</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">To Do List</h5>
                                <p class="card-text">
                                    <ul>
                                        <li ng-repeat="x in todo">
                                            {{x}}
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                        </div>
                        <div class="card p-3 text-right">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in
                                        <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                                    This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2" ng-controller="Ctrl" style="background-color:#6eb7ff">

                messages
                <div  ng-class-odd="'odd'" ng-class-even="'even'" style="word-break: break-all; word-wrap: break-word;" ng-repeat="x in messages">
                    <img src="{{x.profpic}}" /><strong>{{x.username}}:</strong> {{x.message}} -{{x.timestamp}}
                </div>
                <input ng-model="dataToSend">
                <button ng-click="emitBasic2()">Send</button>
                <br>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var module = angular.module('socket.io', []).provider('$socket', function $socketProvider() {
            var iourl = '';


            this.setConnectionUrl = function setConnectionUrl(url) {
                iourl = url
            }

            this.$get = function $socketFactory($rootScope) {
                var socket = io.connect(iourl);
                return {
                    on: function on(event, callback) {
                        console.log('.on called')
                        socket.on(event, function () {
                            var args = arguments
                            $rootScope.$apply(function () {
                                callback.apply(socket, args)
                            })
                        })
                    },
                    emit: function emit(event, data, data2, callback) {
                        if (typeof callback == 'function') {
                            socket.emit(event, data, function () {
                                var args = arguments
                                $rootScope.$apply(function () {
                                    callback.apply(socket, args)
                                })
                            })
                        } else {
                            console.log('.emit called')
                            socket.emit(event, data, data2)
                        }
                    },
                }
            }
        })
        //function modalService($scope,$modal){

        //}
        var app = angular.module('example', ['socket.io'])
            .config(function ($socketProvider) {
                $socketProvider.setConnectionUrl('https://moosen.im:443')
            })
            //.service('modalService', modalService)
            .controller('Ctrl', function Ctrl($scope, $socket) {

                $socket.on('pong2', function (data) {
                    $socket.emit('retPre', 100, 1)
                    $scope.serverResponse = data
                    console.log(data)
                })

                $socket.on('motd update', function (motd, roomid) {
                    $scope.motd = motd
                })

                $socket.on('roomlist', function (rooms) {
                    $scope.roomlist = []
                    $scope.roomlist = rooms
                })

                $socket.on('chatmessage2', function (rows) {
                    console.log('chet message called' + rows[0].username)
                    $scope.messages = []
                    $scope.messages = rows
                })

                $scope.changeRooms = function changeRooms(roomId) {
                    $socket.emit('changerooms', roomId)
                    $socket.emit('retPre', 100, roomId)
                }

                $scope.emitBasic = function emitBasic() {
                    $scope.dataToSend = '';
                }

                $scope.emitBasic2 = function emitBasic() {
                    $socket.emit('chat message', $scope.dataToSend, 3);
                    console.log('ping ')
                    $scope.dataToSend = '';
                }



                $scope.todo = [
                    "pay bills",
                    "redo ui",
                    "fix bugs",
                    "think of more things to do",
                ]
            })
    </script>

</body>
</html>
