<!DOCTYPE html>


<html>

<head>
    <link rel="icon" href="https://www.moosen.im/favicon.ico">
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herd</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="import" href="../html/core.html">
</head>

<body ng-app="mainApp" style="overflow-y:hidden;">
    <div ng-include="'../html/core.html'"></div>
    <div ng-include="'../html/todomodal.html'"></div>

    <div class="container-fluid" ng-controller="Ctrl">
        <div class="col-lg-12" style="background-color:#6eb7ff">
        </div>
        <div class="row">
            <div class="col-lg-2 hidden-sm-down" style="background-color:#f0f0f0; height:100vh;">
                <img style="height: 140px; width: 140px;" src="https://moosen.im/uploads/moosenim4ColoredSmall.png">
                <br>
                <h5 class="mb-0">
                    Groups
                </h5>
                <ul class="flex-column mm-sidebar">
                    <li class="nav-item" ng-repeat="x in roomlist">
                        <a class="btn mm-btn-side btn-sm" ng-click="changeRooms(x.serialid)">{{x.name}}</a>
                    </li>
                </ul>
                <a href="/settings">Settings Page</a>
                <br />
                <a href="/chat">Chat Messages</a>
            </div>
            <div class="col-lg-7" style="text-align:center; background-clip: content-box, padding-box;">
                <h5 style="color: white;">
                    <strong>{{motd}}</strong>
                </h5>
                <br>
                <div class="row" ng-controller="Ctrl">
                    <div class="card-columns" style="max-width: 100%; padding-left: 15px;">
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p>Welcome back {{ username }}!</p>
                                <footer class="blockquote-footer">
                                    <small>
                                        <cite title="Source Title"> Herd Team</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card" ng-controller="Ctrl">
                            <div class="card-body">
                                <h5 class="card-title">{{dateString}}</h5>
                                <li ng-repeat="x in cal">
                                    <div ng-class-odd="'odd'" ng-class-even="'even'">
                                        {{x.summary}}
                                    </div>
                                </li>
                                <h5 class="card-title">Ticketing</h5>
                                <button ng-controller="Ctrl" ng-click="emitBasic()">Create new Ticket</button>

                                <div uib-collapse="isCollapsed">
                                    <div class="well well-lg">Open Ticekts</div>
                                </div>
                                <!-- <p class="card-text"> input<input ng-model="FilterController.input" /></p> -->
                            </div>
                        </div>
                        <div class="card p-3">
                            <h5 class="card-title">Projects</h5>
                            <blockquote class="blockquote mb-0 card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        <cite title="Source Title"> Herd Team</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">To Do List</h5>
                                <button type="button" data-toggle="modal" style="position:absolute; right:3px;"data-target="#todo-modal" class="btn btn-secondary btn-sm">
                                    <i class="material-icons" style="font-size:4; ">add</i>
                                </button>
                                <p class="card-text">
                                    <ul>
                                        <li ng-repeat="x in todo">
                                            <div ng-class-odd="'odd'" ng-class-even="'even'">
                                                {{x.todo}}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary" style="position:absolute; right:3px; bottom:0.5px;"type="button" ng-click="deleteTodo(x)">
                                                        <i class="material-icons">clear</i>
                                                    </button>

                                                </div>
                                                <br />
                                                <span class="badge">{{x.tags}}</span>
                                                <small class="text-muted">{{x.date}}</small>
                                                </small>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                        </div>
                        <div class="card p-3 text-right">
                            <h5 class="card-title">Notes</h5>
                            <blockquote class="blockquote mb-0">
                                <p>Remember to do that thing</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        <cite title="Source Title">5/1/18</cite>
                                    </small>
                                </footer>
                            </blockquote>
                            <blockquote class="blockquote mb-0">
                                <p>Remember to do that thing</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        <cite title="Source Title">5/1/18</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Calender</h5>
                                <img src="https://lh3.googleusercontent.com/-yxd5Ro93YFY/WfsE-RrVQiI/AAAAAAAAZKQ/xWozIbNbYq0p6Wp0O9i8-SXF-M_CVi-cgCLcBGAs/s1600/Google%2BCalendar%2Bmini-calendar%2Bnavigation.png" />
                                    <small class="text-muted">No events today</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-sm-down" style="padding-right:0px; padding-left:15px">
                <div ng-include="'../html/chatbar.html'"></div>
            </div>
        </div>
    </div>
    <script src='../js/main.component.js'></script>
</body>

</html>
