<!DOCTYPE html>


<html>

<head>
    <link rel="icon" href="https://www.moosen.im/favicon.ico">
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herd-Settings</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!-- Required for all pages -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div ng-include="'../html/core.html'"></div>
    <!--                        -->
</head>

<body ng-app="mainApp">

    <div class="container-fluid" ng-controller="Ctrl">
        <div class="col-lg-12" style="background-color:#6eb7ff">
        </div>
        <div class="row">
            <div class="col-lg-2 hidden-sm-down" style="background-color:#6eb7ff">
                <img style="height: 140px; width: 140px;" src="https://moosen.im/uploads/moosenim4ColoredSmall.png">
                <br>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Groups
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            Groups
                            <div class="card-body">
                                <ul class="nav flex-column">
                                    <li class="nav-item" ng-repeat="x in roomlist">
                                        <button class="nav-link active" ng-click="changeRooms(x.serialid)">{{x.name}}</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <a href="/business">Home Page</a>
                <br />
                <a href="/">Chat Messages</a>
            </div>
            <div class="col-lg-8" style="text-align:center;    background-clip: content-box, padding-box;">
                <h5 style="color: white;">

                </h5>
                <br>
                <div class="row" ng-controller="Ctrl">
                    <div class="card-columns">
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <h5>Settings for {{ serverResponse }}
                                        <h5></h5>
                                </p>
                                <footer class="blockquote-footer">
                                    <small>

                                    </small>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">User information</h5>

                                Change display name:
                                <input ng-model="nickname">
                                <br /> Change PRofile Picture (url)
                                <input ng-model="url">
                                <br />
                                <button ng-click="updateUser()">Update</button>

                            </div>
                        </div>


                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                                    This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 hidden-sm-down" ng-controller="Ctrl" style="background-color:#6eb7ff">

                <div ng-class-odd="'odd'" ng-class-even="'even'" style="word-break: break-all; word-wrap: break-word;" ng-repeat="x in messages">
                    <img src="{{x.profpic}}" />
                    <strong>{{x.username}}:</strong> {{x.message}} -{{x.timestamp}}
                </div>
                <input ng-model="dataToSend">
                <button ng-click="emitBasic2()">Send</button>
                <br>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src='../js/settings.component.js'></script>

</body>

</html>