<!doctype html>
<html ng-app="plunker">
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="ListCtrl">
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
          <td>{{item.name}}</td>
          <td>{{item.value}}</td>
          <td><button class="btn btn-small" ng-click="edit(item)">Edit</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <script>
    var app = angular.module('plunker', ['ui.bootstrap']);

    app.controller('ListCtrl',function($scope, $dialog) {

      $scope.items = [
        {name: 'foo', value: 'foo value'},
        {name: 'bar', value: 'bar value'},
        {name: 'baz', value: 'baz value'}
      ];

      var dialogOptions = {
        controller: 'EditCtrl',
        templateUrl: '/html/ptb/itemEdit.html'
      };

      $scope.edit = function(item){

        var itemToEdit = item;

        $dialog.dialog(angular.extend(dialogOptions, {resolve: {item: angular.copy(itemToEdit)}}))
          .open()
          .then(function(result) {
            if(result) {
              angular.copy(result, itemToEdit);
            }
            itemToEdit = undefined;
        });
      };
  })
    // the dialog is injected in the specified controller
    app.controller('EditCtrl', function($scope, item, dialog){

      $scope.item = item;

      $scope.save = function() {
        dialog.close($scope.item);
      };

      $scope.close = function(){
        dialog.close(undefined);
      };
  })
    </script>
  </body>
</html>
