body {
    background: linear-gradient(to right, #6EB7FF, #23ffdd);
    font-family: productsans;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow-y: hidden;
}

#send-message {
    font-size: 1.5em;
    color: black;
    padding-top: 1em;
    background: none;
}

.avatar {
    z-index: 3;
}

.main {
    position: absolute;
    top: 4rem;
    height: calc(100vh - 4rem);
    background: linear-gradient(to right, #6EB7FF, #23ffdd);
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 4rem;
    background: linear-gradient(to right, #6EB7FF, #23ffdd);
}

.navbar a{
    color: white;
}

.navbar a i{
    color: white;
}

.navbar-brand {
    padding-top: 0px;
}

.mm-submit {
    border: none !important;
    margin: 0px;
    outline: 0;
}

.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1;
    max-height: calc(100vh - 4rem);
    background-color: #3F3F3F;
    color: white;
}

.mm-side {
    color: #6eb7ff;
    text-align: left;
    background-color: black;
}

.mm-navbtn {
    margin-bottom: 0;
}

.mm-navdd button {
    float: right;
    color: white !important;
}

.mm-navdd-items {
    background-color: #6eb7ff;
    z-index: 1;
}

.mm-navdd-items a {
    color: white;
    background-color: #6eb7ff
}

.mm-side-image {
    color: #6eb7ff;
    text-align: left;
    float: left;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1.5rem;
}

.mm-side-image img {
    float: left;
    max-height: 3rem;
    margin-right: .5rem;
}

.mm-side-image a {
    line-height: 2.1rem;
}

.mm-form {
    width: 100%;
    margin: 5px 30px 5px 30px;
    background: linear-gradient(to right, hsla(210, 100%, 47%, 0), #ffffff);
}

.collection {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0 0 0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 3px 10px;
    background-color: hsla(0, 0%, 0%, 0.253);
    border-radius: 10px;
}

.collection :nth-child(odd) {
    background-color: hsla(0, 0%, 100%, 0.267);
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
}

.collection .collection-item.login {
    min-height: 0px;
}

.collection .collection-item * {
    background: none;
    font-size: 1.3rem;
    color: black;
}

.collection .collection-item a {
    text-decoration: underline;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
}

.collection .collection-item.avatar .title {
    font-weight: bold;
}

.collection .collection-item.avatar p {
    margin: 0;
}

.collection .collection-item.avatar .secondary-content {
    right: 16px;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.collection .secondary-content {
    color: #555;
    font-size: 0.75em;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #26a69a;
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd;
}

.collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}

.collection.with-header .collection-item {
    padding-left: 30px;
}

.collection.with-header .collection-item.avatar {
    padding-left: 72px;
}

.circle {
    border-radius: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6eb7ff;
}

.footer p {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em
}

@font-face {
    font-family: 'headliner';
    src: url('/headliner_font_ttf') format('truetype'),
    url('/headliner_font_woff2') format('woff2'),
    url('/headliner_font_woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monofonto';
    src: url('/monofonto_font_ttf') format('truetype'),
    url('/monofonto_font_woff2') format('woff2'),
    url('/monofonto_font_woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'productsans';
    src: url('/productsans_font_woff2') format('woff2'),
    url('/productsans_font_woff') format('woff');
    font-weight: normal;
    font-style: normal;
}