body {
    background: linear-gradient(to right, #6EB7FF, #23ffdd);
}
.avatar {
    z-index: 3;
}

.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 4rem;
    background: linear-gradient(to right, #6EB7FF, #23ffdd);
}

.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1;
    max-height: calc(100vh - 4rem);
    background-color: #3F3F3F;
    color: white;
}