body {
    background-color: #6eb7ff;
    color: #ffffff;
}

.card-body {
    color: #6eb7ff;
    width: 100%;
    font-size: 25px;
}

.btn btn-success {
    background-color: #6eb7ff;
}

.media {
    color: #000000;
    background-color: #ffffff;
    background-clip: content-box, padding-box;
}

.light {
    background-color: #baddff;
}

.media-body {
    background-clip: content-box, padding-box;
    color: #000000;
    font-size: 25px;
}

.mt-0 {
    font-size: 50px;
}

.mr-3 {
     height: 240px;
    width: 160px;
}

@media screen and (max-width: 1081px) {
    #logo {
        display: none;
    }
}
