body {
    background: linear-gradient(to right, #6eb7ff, #23ffdd);
}

.btn btn-success {
    background-color: #6eb7ff;
}

.light {
    background-color: #baddff;
}

.odd {
    background-color: #baddff;
}

.even {
    background-color: #6eb7ff;
}

@media screen and (max-width: 1081px) {
    #logo {
        display: none;
    }
}

.mm-btn-side {
    background-color: transparent;
}

.mm-sidebar {
    list-style: none;
    padding-left: 0px;
}

.sidebar-l {
    position: fixed;
    left: 0px;
    background-color: #f0f0f0;
}

.sidebar-r {
    position: fixed;
    right: 0px;
}